* {
    -webkit-box-sizing: border-box;
}

ksiegarnia > *:hover {
    border: 2px solid #452103;
}

ksiegarnia > * {
    padding: 10px;
}

ksiegarnia {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: #121113;
    background-image: linear-gradient(white, red);
    font-family: "Courier New", Courier, monospace;
}

ksiegarnia > autorzy:before {
    letter-spacing: 5px;
    font-style: oblique;
    padding-bottom: 10px;
    content: 'Autorzy: \A';
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration-style: wavy;
    text-decoration-color: #222725;
    text-decoration-line: underline;
}
ksiegarnia > autorzy > autor:before {
    font-style: oblique;
    padding-bottom: 10px;
    counter-increment: profile_counter;


}


autor{
    flex: 1 0 25%; /* explanation below */
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: #4238a5;
    border: 5px dashed #5045d0;
    padding: 10px;
    border-radius: 5px;
    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

stanowisko{
    flex: 1 0 25%; /* explanation below */
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: white;
    border: 5px dashed #5045d0;
    padding: 10px;
    border-radius: 5px;
    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

ksiazka{
    flex: 1 0 25%; /* explanation below */
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: orange;
    border: 5px solid #5045d0;
    padding: 10px;
    border-radius: 5px;
    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

gra{
    flex: 1 0 25%; /* explanation below */
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: red;
    border: 5px solid #5045d0;
    padding: 10px;
    border-radius: 5px;
    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

zeszyt{
    flex: 1 0 25%; /* explanation below */
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: green;
    border: 5px solid #5045d0;
    padding: 10px;
    border-radius: 5px;
    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

dlugopis{
    flex: 1 0 25%; /* explanation below */
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: white;
    background-color: black;
    border: 5px solid #5045d0;
    padding: 10px;
    border-radius: 5px;
    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

autor imie:before{
    content: "Imie: ";
    color: red;
}

autor imie:after{
    content: "\A ";
    white-space: pre;
}

autor nazwisko:before{
    content: "Nazwisko: ";
    color: orange;
}

autor nazwisko:after{
    content: "\A ";
    white-space: pre;
}

/*-----------------------------------------------------------*/

produkty:before{
    font-style: oblique;
    padding-bottom: 10px;
    content: "Produkty";
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration-style: double;
    text-decoration-color: #222725;
    text-decoration-line: underline;
}

produkty ksiazki:before{
    content: "\00a0 \00a0 \00a0 Ksiazki: \A \A";
    font-size: 1em;
    white-space:pre;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration-style: double;
    text-decoration-color: #222725;
    text-decoration-line: underline;
}

ksiazka:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Ilosc: " attr(ilosc);
}

ksiazka:after{
    content: "\A";
    white-space: pre;
}

ksiazka autor:before{
    content: "\A \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 AutorId: " attr(refid);
    white-space: pre;
}

ksiazka autor:after{
    white-space: pre;
    content: "\A ";
}

ksiazka nazwa:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Nazwa: ";
}

ksiazka nazwa:after{
    white-space: pre;
    content: "\A ";
}

ksiazka cena:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Cena: ";
}

ksiazka cena:after{
    white-space: pre;
    content: " " attr(currency) "\A ";
}

ksiazka liczbaStron:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Liczba stron: ";
}

ksiazka liczbaStron:after{
    content: "\A ";
    white-space: pre;
}

ksiazka wydawnictwo:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Wydawnictwo: ";
}

ksiazka wydawnictwo:after{
    content: "\A ";
    white-space: pre;
}

ksiazka rokWydania:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Rok Wydania: ";
}

ksiazka rokWydania:after{
    content: "\A ";
    white-space: pre;
}

produkty gry:before{
    content: "\00a0 \00a0 \00a0 Gry: \A \A";
    white-space:pre;
    font-size: 1em;
    white-space:pre;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration-style: double;
    text-decoration-color: #222725;
    text-decoration-line: underline;
}

produkty gry:after{
    white-space:pre;
}

gra:after{
    content: "\A";
    white-space: pre;
}

gra nazwa:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Nazwa: ";
}

gra nazwa:after{
    content: "\A";
    white-space:pre;
}

gra cena:before{
    content:"\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Cena: ";
}

gra cena:after{
    content: " " attr(currency) "\A";
    white-space:pre;
}

produkty zeszyty:before{
    content:"\00a0 \00a0 \00a0 Zeszyty: \A \A";
    white-space: pre;
    font-size: 1em;
    white-space:pre;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration-style: double;
    text-decoration-color: #222725;
    text-decoration-line: underline;
}

zeszyt:after{
    content: "\A";
    white-space:pre;
}

zeszyt nazwa:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Nazwa: ";
}

zeszyt nazwa:after{
    content: "\A";
    white-space:pre;
}

zeszyt iloscKartek:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Ilosc kartek: ";
}

zeszyt iloscKartek:after{
    content: "\A";
    white-space: pre;
}

zeszyt cena:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Cena: ";
}

zeszyt cena:after{
    content: " " attr(currency) " \A";
    white-space:pre;
}

produkty dlugopisy:before{
    content:"\00a0 \00a0 \00a0 Dlugopisy: \A \A";
    white-space: pre;
    font-size: 1em;
    white-space:pre;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration-style: double;
    text-decoration-color: #222725;
    text-decoration-line: underline;
}

dlugopisy dlugopis:after{
    content: "\A";
    white-space: pre;
}

dlugopis cena:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Cena: ";
}

dlugopis cena:after{
    content: " " attr(currency) " \A";
    white-space:pre;
}

dlugopisy kolor:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Kolor: ";
}

dlugopisy kolor:after{
    content: " " attr(currency) " \A";
    white-space:pre;
}

pracownicy:before{
    content: 'Pracownicy: \A';
    white-space: pre;
    font-weight: bold;
    font-size: 130%;
}

pracownicy pracownik:before{
    content: "Narodowosc: " attr(narodowosc) "\A";
    white-space:pre;
}

pracownik{
    flex: 1 0 25%; /* explanation below */
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: #ccaa00;
    border: 5px dashed #5045d0;
    padding: 10px;
    border-radius: 5px;
    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

pracownik:after{
    content: "\A";
    white-space:pre;
}

pracownik imie:before{
    content: "Imie: ";
}

pracownik imie:after{
    content: "\A";
    white-space: pre;
}

pracownik nazwisko:before{
    content: "Nazwisko: ";
}

pracownik nazwisko:after{
    content: "\A";
    white-space: pre;
}

pracownik stanowisko:before{
    content: "StanowiskoId: " attr(idref) "\A";
    white-space:pre;
}

pracownik pesel:before{
    content: "Pesel: ";
}

pracownik pesel:after{
    content: "\A";
    white-space: pre;
}

pracownik dataZatrudnienia:before{
    content: "Data zatrudnienia: ";
}

pracownik dataZatrudnienia:after{
    content: "\A";
    white-space: pre;
}

stanowiska:before{
    content: 'Stanowiska: \A';
    white-space: pre;
    font-style: oblique;
    padding-bottom: 10px;
    display: block;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration-style: double;
    text-decoration-color: #222725;
    text-decoration-line: underline;
}

stanowiska stanowisko:before{
    content: "Id: " attr(stanowiskoId) "\A ";
    white-space: pre;
    color: blue;
}


stanowisko nazwa:before{
    content: "Nazwa: ";
    color: red;
}

stanowisko nazwa:after{
    content: "\A ";
    white-space: pre;
}

stanowisko pensja:before{
    content: "Pensja: ";
    color: orange;
}

stanowisko pensja:after{
    content: " " attr(currency) "\A ";
    white-space: pre;
}