autorzy:before{
    content: 'Autorzy: \A';
    white-space: pre;
    font-weight: bold;
    font-size: 130%;
}

autorzy autor:before{
    content: "Id: " attr(autorId) "\A ";
    white-space: pre;
    color: blue;
}


autor imie:before{
    content: "Imie: ";
    color: red;
}

autor imie:after{
    content: "\A ";
    white-space: pre;
}

autor nazwisko:before{
    content: "Nazwisko: ";
    color: orange;
}

autor nazwisko:after{
    content: "\A ";
    white-space: pre;
}

/*-----------------------------------------------------------*/

produkty:before{
    content: "Produkty: \A";
    white-space: pre;
    font-weight: bold;
    font-size: 130%;
}

produkty ksiazki:before{
    content: "\00a0 \00a0 \00a0 Ksiazki: \A";
    white-space:pre;
}

ksiazka:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Ilosc: " attr(ilosc);
}

ksiazka:after{
    content: "\A";
    white-space: pre;
}

ksiazka autor:before{
    content: "\A \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 AutorId: " attr(refid);
    white-space: pre;
}

ksiazka autor:after{
    white-space: pre;
    content: "\A ";
}

ksiazka nazwa:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Nazwa: ";
}

ksiazka nazwa:after{
    white-space: pre;
    content: "\A ";
}

ksiazka cena:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Cena: ";
}

ksiazka cena:after{
    white-space: pre;
    content: " " attr(currency) "\A ";
}

ksiazka liczbaStron:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Liczba stron: ";
}

ksiazka liczbaStron:after{
    content: "\A ";
    white-space: pre;
}

ksiazka wydawnictwo:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Wydawnictwo: ";
}

ksiazka wydawnictwo:after{
    content: "\A ";
    white-space: pre;
}

ksiazka rokWydania:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Rok Wydania: ";
}

ksiazka rokWydania:after{
    content: "\A ";
    white-space: pre;
}

produkty gry:before{
    content: "\00a0 \00a0 \00a0 Gry: \A";
    white-space:pre;
}

produkty gry:after{
    white-space:pre;
}

gra:after{
    content: "\A";
    white-space: pre;
}

gra nazwa:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Nazwa: ";
}

gra nazwa:after{
    content: "\A";
    white-space:pre;
}

gra cena:before{
    content:"\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Cena: ";
}

gra cena:after{
    content: " " attr(currency) "\A";
    white-space:pre;
}

produkty zeszyty:before{
    content:"\00a0 \00a0 \00a0 Zeszyty: \A";
    white-space: pre;
}

zeszyt:after{
    content: "\A";
    white-space:pre;
}

zeszyt nazwa:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Nazwa: ";
}

zeszyt nazwa:after{
    content: "\A";
    white-space:pre;
}

zeszyt iloscKartek:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Ilosc kartek: ";
}

zeszyt iloscKartek:after{
    content: "\A";
    white-space: pre;
}

zeszyt cena:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Cena: ";
}

zeszyt cena:after{
    content: " " attr(currency) " \A";
    white-space:pre;
}

produkty dlugopisy:before{
    content:"\00a0 \00a0 \00a0 Dlugopisy: \A";
    white-space: pre;
}

dlugopisy dlugopis:after{
    content: "\A";
    white-space: pre;
}

dlugopis cena:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Cena: ";
}

dlugopis cena:after{
    content: " " attr(currency) " \A";
    white-space:pre;
}

dlugopisy kolor:before{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Kolor: ";
}

dlugopisy kolor:after{
    content: " " attr(currency) " \A";
    white-space:pre;
}

pracownicy:before{
    content: 'Pracownicy: \A';
    white-space: pre;
    font-weight: bold;
    font-size: 130%;
}

pracownicy pracownik:before{
    content: "Narodowosc: " attr(narodowosc) "\A";
    white-space:pre;
}

pracownik:after{
    content: "\A";
    white-space:pre;
}

pracownik imie:before{
    content: "Imie: ";
}

pracownik imie:after{
    content: "\A";
    white-space: pre;
}

pracownik nazwisko:before{
    content: "Nazwisko: ";
}

pracownik nazwisko:after{
    content: "\A";
    white-space: pre;
}

pracownik stanowisko:before{
    content: "StanowiskoId: " attr(idref) "\A";
    white-space:pre;
}

pracownik pesel:before{
    content: "Pesel: ";
}

pracownik pesel:after{
    content: "\A";
    white-space: pre;
}

pracownik dataZatrudnienia:before{
    content: "Data zatrudnienia: ";
}

pracownik dataZatrudnienia:after{
    content: "\A";
    white-space: pre;
}

stanowiska:before{
    content: 'Stanowiska: \A';
    white-space: pre;
    font-weight: bold;
    font-size: 130%;
}

stanowiska stanowisko:before{
    content: "Id: " attr(autorId) "\A ";
    white-space: pre;
    color: blue;
}


stanowisko nazwa:before{
    content: "Nazwa: ";
    color: red;
}

stanowisko nazwa:after{
    content: "\A ";
    white-space: pre;
}

stanowisko pensja:before{
    content: "Pensja: ";
    color: orange;
}

stanowisko pensja:after{
    content: " " attr(currency) "\A ";
    white-space: pre;
}